# Broadcosting Operation

In [3]:
import pandas as pd
nba=pd.read_csv("nba.csv")
nba.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0

In [4]:
nba["Salary"].sub(50000)

0      7680337.0
1      6746117.0
2            NaN
3      1098640.0
4      4950000.0
         ...
453    2383333.0
454     850000.0
455    2850000.0
456     897276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [8]:
nba["Salary"]+50000

0      7780337.0
1      6846117.0
2            NaN
3      1198640.0
4      5050000.0
         ...
453    2483333.0
454     950000.0
455    2950000.0
456     997276.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [9]:
nba["Salary"]-1000000

0      6730337.0
1      5796117.0
2            NaN
3       148640.0
4      4000000.0
         ...
453    1433333.0
454    -100000.0
455    1900000.0
456     -52724.0
457          NaN
Name: Salary, Length: 458, dtype: float64

In [11]:
nba["Weight"].mul(2)

0      360.0
1      470.0
2      410.0
3      370.0
4      462.0
       ...
453    406.0
454    358.0
455    512.0
456    462.0
457      NaN
Name: Weight, Length: 458, dtype: float64