*** second program***

In [3]:
import pandas as pd

In [4]:
req=['True','False','True']
req

['True', 'False', 'True']

In [5]:
pd.Series(req)

0     True
1    False
2     True
dtype: object

In [6]:
pd.DataFrame(req)

       0
0   True
1  False
2   True