In [1]:
import pandas as pd

In [4]:
P=pd.read_csv("pokemon.csv",squeeze=True)
P

        Pokemon     Type
0     Bulbasaur    Grass
1       Ivysaur    Grass
2      Venusaur    Grass
3    Charmander     Fire
4    Charmeleon     Fire
..          ...      ...
716     Yveltal     Dark
717     Zygarde   Dragon
718     Diancie     Rock
719       Hoopa  Psychic
720   Volcanion     Fire

[721 rows x 2 columns]

In [9]:
P.is_unique
# its produce ssome error

AttributeError: 'DataFrame' object has no attribute 'is_unique'

In [10]:
P.ndim

2

In [11]:
P.shape

(721, 2)

In [12]:
P.size

1442

In [13]:
P.name="Pokemon"

In [14]:
Pokemon

NameError: name 'Pokemon' is not defined